{% extends "page/details/inc/productmain.html.twig" %}

 {% block details_productmain_morepics %}
 
  {{ parent() }}
 
  {% if oPictureProduct.oxarticles__r3durl.value|length >0 %}
  
  {% set aPictureInfo = oViewConf.getViewThemeParam("sIconsize")|split("*") %}
                  <div style="display:inline">
                    <p id="r3dImage" href="javascript:void(0)"  onclick="myFunctionShow()">
 		          {%  if oPictureProduct.oxarticles__r3dimage.value starts with 'http' %}
		      		<img src="{{oPictureProduct.oxarticles__r3dimage.value }}" alt="Rooom 3D" style="max-width: {{ aPictureInfo.0 }}px; max-height: {{ aPictureInfo.1 }}px;" >
			  {% else %}
		   		<img src="http://localhost.local/out/pictures/r3dimagefiles/{{ oPictureProduct.oxarticles__oxid.value }}/{{oPictureProduct.oxarticles__r3dimage.value }}" alt="Rooom 3D" style="max-width: {{ aPictureInfo.0/2 }}px; max-height: {{ aPictureInfo.1/2 }}px;"  >
		 	  {% endif %} 
                     </p>
                </div>
   <script>
   function myFunctionShow() {
   	var image = document.getElementById("zoom1");
   	var width= JSON.parse(JSON.stringify(image.lastElementChild.offsetWidth))+"px";
   	var height = JSON.parse(JSON.stringify(image.lastElementChild.offsetWidth))+"px";;
   	document.getElementById("r3dImage").setAttribute( "onClick",  "myFunctionHide()" ); 
   	document.getElementById("r3dstore").innerHTML =image.innerHTML;
  
   	//document.getElementById("r3dstore").setAttribute( "onClick",  document.getElementById("morePics_1").getAttribute('click')); 
   	
	image.innerHTML = document.getElementById("r3dframe").innerHTML;
	image.lastElementChild.style.width=width;
	image.lastElementChild.style.height=height;
     } 
    </script> 
   <script>
      function myFunctionHide() {
   	var image = document.getElementById("zoom1");
   	var width= JSON.parse(JSON.stringify(image.lastElementChild.offsetWidth))+"px";
   	var height = JSON.parse(JSON.stringify(image.lastElementChild.offsetWidth))+"px";;
   	
   	document.getElementById("r3dImage").setAttribute( "onClick",  "myFunctionShow()" ); 
 
   	image.innerHTML =document.getElementById("r3dstore").innerHTML;
	image.lastElementChild.style.width=width;
	image.lastElementChild.style.height=height;
     } 
     
    </script> 
   
   <div style="display:none;">
    <div id="r3dframe" style="display:none;">
	<iframe 
		src="https://viewer.rooom.com/product/e725a9e18cb87bbc2977b73d4bdc65"
		style="border:50;border-width:0;"
		allowvr="yes" allow="vr; xr; accelerometer; magnetometer; gyroscope; autoplay;" 
	        mozallowfullscreen="false"  webkitallowfullscreen="false"
	></iframe>
	</div>
    <div id="r3dstore" style="display:none;"></div>
  </div>
  {% endif %} 
 {% endblock %}
