{% extends "page/details/inc/productmain.html.twig" %}

 {% block details_productmain_morepics %}
 
  {{ parent() }}
 
  {% if oPictureProduct.oxarticles__r3durl.value|length >0 %}
  
  {% set aPictureInfo = oViewConf.getViewThemeParam("sIconsize")|split("*") %}
                  <div style="display:inline">
                    <p id="r3dImage" href="javascript:void(0)"  onclick="rooomShow()">
                     {%  if edit.oxarticles__r3dimage.value|length == 0 %}
                                 <img src="/modules/r3d/rooomintegrationmodule/images/rooom.jpeg" alt="Rooom 3D" style="max-width: {{ aPictureInfo.0/2 }}px; max-height: {{ aPictureInfo.1/2}}px;">
                       {% else %}           
 		          {%  if oPictureProduct.oxarticles__r3dimage.value starts with 'http' %}
		      		<img src="{{oPictureProduct.oxarticles__r3dimage.value }}" alt="Rooom 3D" style="max-width: {{ aPictureInfo.0/2}}px; max-height: {{ aPictureInfo.1/2 }}px;" >
			  {% else %}
		   		<img src="/out/pictures/r3dimagefiles/{{ oPictureProduct.oxarticles__oxid.value }}/{{oPictureProduct.oxarticles__r3dimage.value }}" alt="Rooom 3D" style="max-width: {{ aPictureInfo.0/2 }}px; max-height: {{ aPictureInfo.1/2 }}px;"  >
		 	  {% endif %} 
		       {% endif %}	  
                     </p>
                </div>
   <div style="display:none;">
    <div id="r3dframe" style="display:none;">
	<iframe 
		src="{{oPictureProduct.oxarticles__r3durl.value }}"
		style="border:50;border-width:0;"
		allowvr="yes" allow="vr; xr; accelerometer; magnetometer; gyroscope; autoplay;" 
	        mozallowfullscreen="false"  webkitallowfullscreen="false"
	></iframe>
	</div>
    <div id="r3dstore" style="display:none;"></div>
  </div>
  
  <script  src='/modules/r3d/rooomintegrationmodule/out/src/js/rooom.js'></script>
  
  {% endif %} 
 {% endblock %}
